body {
    background-color: lightseagreen;
    text-align: center;
}
h1{
    font-size:40;
    color:aliceblue;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h2{
    font-size:37.5;
    color:azure;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h3{
    font-size:35;
    color:antiquewhite;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  p{
    font-size:18;
    color:whitesmoke;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
    font-size:18;
    color:darkgrey;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
  }